<h1 class="exH1">Pull Page</h1>
<div class="centerDiv">
    <img class="exImg" src="/Assets/images/pull.png">
</div>
{{#if user}}
<div class="btnContainer">
    <a href="/exercises/createPull"><button class="createbtn">Create Pull</button></a>
</div>
{{else}}
<div class="btnContainer">
    <a href="/auth/login"><button class="createbtn">Create Push</button></a>
</div>
{{/if}}

<div class="container">
    <div class="row justify-content-center">
        {{#each pull}}
        <div class="exCard m-2 text-center col-lg-2">
            <div class="card-body">
                <p class="exP">{{this.reps}}</p>       
                <h6 class="exH6">{{this.title}}</h6>
                <p class="exP">{{{this.description}}}</p>
                {{#if ../user}}
                <a href="/exercises/editPull/{{this._id}}" class="btn btn-primary">
                    Edit
                </a>
                <a href="/exercises/deletePull/{{this._id}}" class="btn btn-primary">
                    Delete
                </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
